html
  head
    meta(charset="utf-8")
  body
    h1.mb-4: .text-sm= brd.name
    div Hello World! 2
    div Wed Mar 29 16:30:14 CST 2023
    div Wed Mar 29 16:34:28 CST 2023
    div Wed Mar 29 16:34:45 CST 2023
    div Wed Mar 29 16:42:20 CST 2023
    div Wed Mar 29 16:42:43 CST 2023
